/*================media========================*/
@media screen and (min-width: 1024px) {
    body {
        font-size: 18pt;
    }
}
@media screen and (max-width: 1024px) {

}
@media screen and (min-width: 1080px){
    body {
        font-size: 18pt;
    }
}
@media screen and (max-width: 1080px){
    body {
        font-size: 15pt;
    }
}
@media screen and (min-width: 800px){

}
@media screen and (max-width: 768px) {
    body{
        font-size: 15pt;
    }
}

@media screen and (max-width: 600px) {
    body{
        font-size: 12pt;
    }
}

@media only screen and (max-width: 414px) {
    body{
        font-size: 11pt;
    }
}

@media only screen and (max-width: 384px) {

}

@media only screen and (max-width: 360px) {
    body {
        font-size: 10pt;
    }

}

@media screen and (max-width: 320px) {

}
/*===============common start======================*/
*{
    margin: 0 auto;
    padding: 0;
} 
ul{
    list-style: none;
}
ol{
    list-style: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.cl{
    clear: both;
}
img{ 
    border:0;  
}
a{ 
    text-decoration:none; 
}
a:link{
	text-decoration:none; 
}
.padding_0{
	padding: 0 !important;
}
.width100{
	width: 100%;
}
/*fen gei xian*/
.sg_line{
	background: #f2f2f0;
	height: 0.4em;
	width: 100%;
	padding: 0px;
	position: relative;
	float: left;
}
.clear{
	clear: both;
}
/*===============common end======================*/