/*===============common end======================*/
.header{
	width: 100%;
	height: 3.5em;
	background: #0871c0;
	line-height: 3.5em !important;
	position: fixed;
	z-index: 999;
	top: 0;
}
.header_title{

}
.header_title_active{
	position: fixed;
	overflow: hidden;
	right: 0;
	top: 0;
}
.header_title .header_title_l{
	height: 3.5em;
	padding-left: 1em;
}
.header_title .header_title_l .nav_icon{
	background-color: transparent;
	color: #f6f4f4;
	display: block;
	border: none;
	cursor: pointer;
	line-height: 3.5em !important;
}
.header_title .header_title_c{
	text-align: center;
}
.header_title .header_title_c a{
	color: #f6f4f4;
}
.header_title .header_title_c a img{
	width: 2em;
	height: 2em;
}
.header_title .header_title_r{
	text-align: right;
	color: #f6f4f4;
	cursor: pointer;
	padding-right: 1em;
}
.header_title .header_title_r i{
	display: block;
	height: 3.5em;
	line-height: 3.5em;
}
.header_blank{
	width: 100%;
	height: 3.5em;
}
/*导航*/
.nav{
	width: 0;
	height: 100%;
	background: #1c6ead;
	position: fixed;
	left: 0;
	top: 0;
	float: left;
	z-index: 100;
	overflow: hidden;
}
.nav ul{
	padding-left: 1em;
}
.nav ul li{
	height: 3em;
	line-height: 3em;
	border-bottom: 1px solid #005098;
}
.nav ul li a i{
	margin-right: 0.2em;
}
.nav ul li a{
	color: #f6f4f4;
	display: block;
}
/*search*/
.search_nav{
	position: fixed;
	top: 3.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: #1c6ead;
	text-align: center;
	display: none;
	z-index: 999;

}
.search_nav .search_div{
	width: 80%;
	height: 3em;
	line-height: 3em;
	position: relative;
}
.search_nav .search_div input{
	width: 100%;
	border-radius: 1em;
	position: absolute;
	bottom:0.5em;
	height: 2em;
	line-height: 2em;
	display: block;
	border: none;
	text-indent: 1em;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.search_nav .search_div i{
	position: absolute;
	right: 1em;
	bottom:0.5em;
	padding-left: 0.5em;
	height: 2em;
	width: 2em;
	line-height: 2em;
	border-left: 1px solid #1c6ead;
	cursor: pointer;
	display: block;
}
.search_nothing{
	width: 100%;
	padding-left: 2em;
	padding-top: 2em;
	min-height: 25em;
}
.search_nothing div{
	width: 100%;
	height: 2em;

}
.search_nothing div em{
	color: #f00;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.search_nothing div a:hover{
	color: #f00;
}
/*footer*/

footer{
	width: 100%;
	height: 4em;
}
.footer{
	width: 100%;
	height: 4em;
	color: #f6f4f4;
	font-size: 0.5em;
	text-align: center;
	background: #0871c0;
}
.footer .copyright{
	padding: 0.5em 0;
	border-top:1px solid #1c6ead;
}
.goto_top{
	position: fixed;
	right: 5%;
	bottom: 5%;
	width: 32px;
	height: 32px;
	cursor: pointer;
	display: none;
	z-index: 999; 
}
.goto_top:hover {
    background-position: -1px -39px;
}
.main{
	width: 100%;
	height: 100%;
}
.goods_detail{
	width: 100%;
	height: 100%;
	padding-top:3.5em;
} 
.main_nav{
	width: 100%;
	padding-left: 1em;
}
.main_nav ul li{
	float: left;
	margin-right: 0.5em;
}
.main_nav ul li a{
	color: #f6f4f4;
	display: block;
	padding: 0 0.5em;
	background: #0871c0;
	border-radius: 0.3em;
}
.main_nav ul li a:hover  {
	text-decoration: underline !important;
}
.seires_curr{
	padding: 1em 0 1em 1em;
	color: #333;
	margin-top: 1em;
}
.seires_img{
	margin: 0 auto;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.seires_img .slider{
	position: relative;
}
.seires_img .slider{
	font-size: 2em;
}
.seires_img .slider  .prev{
	position: absolute;
	left: 2em;
	top: 50%;
}
.seires_img .slider  .next{
	position: absolute;
	right: 2em;
	top: 50%;
}
.series_content{
	text-indent: 2em;
	padding: 1em;
}
.goods_price{
	color: #F21515;
	text-align: right;
	padding-right: 1em;
}
/*series goods*/
.series_goods{
	padding-left:1em;
}
.series_goods_title{
	color: #0871c0;
	padding-top: 1em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #e7e7e7;
}
.series_goods_title b{
	padding: 0.5em;
	padding-top: 0;
	border-bottom: 0.2em solid #0871c0;
}
.series_goods_body{
	/*padding-left: 0.5em;*/
}
.series_goods_body ul li{
	width: 50%;
	float: left;
	border-bottom: 1px solid #e7e7e7;
}
.series_goods_body ul li a{
	padding: 0.5em 0 0.5em 0;
	display: inline-block;
	color: #333;
}
.series_goods_body ul li a:hover{
	color: #0871c0;
}
.series_goods_page{
	text-align: center;
	padding-bottom: 1em;
	padding-top: 1em;
	width: 100%;
}
.series_goods_page ul{
	padding-left: 30%;
}
.series_goods_page ul li {
	float: left;
	margin-right: 1em;
	height: 1em;
	line-height: 1em;
}
.series_goods_page ul li a{
	display: block;
	padding-left: 1em;
	padding-right: 1em;
}
/*company*/
.series_company{
	padding-left: 0.5em;
}
.series_company_title{
	color: #0871c0;
	padding-top: 1em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #e7e7e7;
}
.series_company_title b{
	padding: 0.5em;
	padding-top: 0;
	border-bottom: 0.2em solid #0871c0;
}
.series_company_body{
	padding-left: 0.5em;
}
.series_company_name{
	padding-top: 1em;
	color: #0871c0;
}
.series_company_phone{
	padding-top: 0.5em;
	color: #333 !important;
}
.series_company_phone i{
	color: #999;
}
.series_company_address{
	padding-top: 0.5em;
	color: #333;
}
.series_company_address i{
	color: #999;
}
.series_company_contact{
	text-align: right;
	padding-right: 2em;
	color: #0871c0;
}
/*recommend series*/
.series_recommend{
	padding-left: 1em;
}
.series_recommend_title{
	color: #0871c0;
	padding-top: 1em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #e7e7e7;
}
.series_recommend_title b{
	padding: 0.5em;
	padding-top: 0;
	border-bottom: 0.2em solid #0871c0;
}
.series_recommend_body{
	/*padding-left: 0.5em;*/
	padding-bottom: 1em;
}
.series_recommend_body ul li{
	width: 50%;
	float: left;
}
.series_recommend_body ul li a{
	padding: 0.5em 0 0 0;
	display: inline-block;
	color: #333;
}
.series_recommend_body ul li a:hover{
	color: #0871c0;
}
/*==============goods detail start====================*/
.goods_detail{
	margin-top:3em;
}
.goods_detail_spec{
	padding-left: 0.5em;
}
.goods_detail_spec_title{
	color: #0871c0;
	padding-top: 1em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #e7e7e7;
}
.goods_detail_spec_title b{
	padding: 0.5em;
	padding-top: 1em;
	border-bottom: 0.2em solid #0871c0;
}
.goods_detail_spec_body{
	padding-left: 0.5em;
	padding-bottom: 1em;
}
.goods_detail_spec_body ul li{
	padding-top: 0.5em;
	width: 50%;
	float: left;
}
.goods_detail_spec_body ul li span{
	color: #999;
}
/*==============goods detail end====================*/

/*==============brand start====================*/
.brand_nav{
	text-align: left;
	padding-left: 1em;
}
.brand_logo{
	height: 2em;
	text-align: left;
	margin-left: 0;
}
.brand_logo img{
	display: block;
	max-height: 100%;
	width: auto;
	float: left;
}
.brand_name{
	margin-top: 1em;
	padding-bottom: 1em;
	/*border-bottom: 1px solid #e7e7e7;*/
}


/*==============search start============*/
/*input start*/
.search_main{
	display: block;
	width: 100%;
	min-height: 30em;
	padding-bottom: 1em;
}
.search_t{
	width: 100%;
	text-indent: 2em;
	height: 3em;
	line-height: 3em;
}

.search_b{
	width: 100%;
	text-indent: 2em;
}

.search_b_content ul li{
	width: 100%;
	height: 3em;
	padding-left: 2em;
	border-bottom: 1px solid #ddd;
}
.search_b_content_img{
	width: 3em;
	height: 3em;
	float: left;
}
.search_b_content_img img{
	width: 100%;
	height: 100%;
	float: left;
	border: none;
}
.search_b_content_title{
	float: left;
}
.search_b_content ul li a:hover{
	color: #f00;
}
.search_b_page{
	width: 100%;
	height: 2em;
	text-align:center;
}
.search_b_page_con{
	width: calc(100%-4em);
	height: 2em;

}
.search_b_page_con ul{
	width: calc(100%-4em);
	height: 2em;
	position: relative;
	left: 50%;
	margin-left: -50%;
}
.search_b_page_con ul li {
	float: left;
	height: 2em;
	line-height: 2em;
}

.search_b_page_con ul li a {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.search_b_page_con ul li a em{
	color: #053a62;
	list-style: none;
}

/*==============search end============*/


/*==============resource start======*/
.model_resource{

}
.brand_series{
	/*padding-left: 0.5em;*/
}
.model_resource_title{
	color: #0871c0;
	padding-top: 1em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #e7e7e7;
}
.model_resource_title b{
	padding: 0.5em;
	padding-top: 1em;
	border-bottom: 0.2em solid #0871c0;
}
.model_resource .slider{
   position: relative;
}
.model_resource ul {
	margin-top: 20px;
}
.model_resource ul li{
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	display: none;
}
.model_resource ul li:first-child{
	display: block;
}
.modelresourceBox  .slider{
    position: relative;
}
.modelresourceBox  .silde_content{
	text-indent:2em;
	text-align:left;
}
.modelresourceBox  .slider  a{
	font-size: 2em;
}
.modelresourceBox  .slider .src_large{
    position: absolute;
    font-size: 1.5em;
    bottom: 0em;
    right: 2em;
    color: #999;
}
.modelresourceBox  .slider .src_large:hover{
	color: #333;
}
.modelresourceBox  .slider .prev{
	position: absolute;
	top:50%;
	left: 1em;
	display: block;
}
.modelresourceBox .slider .next{
	position: absolute;
	top:50%;
	right: 1em;
	display: block;
}
/*==============resource end=======*/

/*================error 404 start============*/
.error_body{
	background:#999;
}
.error_404_header{
	width: 100%;
	height: 4em;
	line-height: 4em;
	background: #0871c0;
	/*color: #f6f4f4;*/
	position: relative;
}
.error_404_header .error_404_header_l a{
    padding-left: 1em;
    color: #f6f4f4;
    display: block;
}
.error_404_header .error_404_header_l{
	float: left;
	width: 20%;
}
.error_404_header .error_404_header_r {
	position: relative;
}
.error_404_header .error_404_header_r input{
	display: block;
	float: left;
	height: 2em;
	line-height: 2em;
	margin-top: 1em;
	margin-left: 1em;
	border-radius: 1em;
	text-indent: 0.5em;
	width: 50%;
	color: #000 !important;
	border: none;
}
.error_404_header .error_404_header_r i{
	position: absolute;
	top: 1em;
	left: 70%;
	height: 2em;
	margin-left: -1em;
	padding-left: 0.5em;
	line-height: 2em;
    border-left: 1px solid #333;
	color: #333;
}
.error_404_main{
	background:#999;
	width: 100%;
	height: 100%;
}
.error_404_main .error_404_note{
	width: 60%;
	height: 10em;
	background:#f6f4f4; 
	margin-left: 20%;
	margin-top: 2em;
	padding: 1em;
	border-top: 2px solid #f0a;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.error_404_footer{
	width: 100%;
	background: #0871c0;
	color: #f6f4f4;
	position: absolute;
	bottom: 0;
	font-size: 0.5em;
}
.error_404_footer .error_copyright{
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
/*================error 404 end============*/