@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
body{
    font-family: "Microsoft Yahei";
    /*min-width: 1200px*/
}
.container{
    padding:0;
}
*{
    margin: 0 auto;
    padding: 0;
} 
ul{
    list-style: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.cl{
    clear: both;
}
img{ 
    border:0;  
}
a{ 
    text-decoration:none; 
}
a:link{ 
    text-decoration:none; 
}
.header{
    background-color: #f1f1f1;
    height: 34px;
    width: 100%; 
}
.header_c{
    width: 1200px;
    background-color: #f1f1f1;
    height: 34px;
    line-height: 34px;

}
.header_l{
    float: left;
}
.header_r{
    float: right
}
.header_r ul li a{
    color: #e4393c;
}
.search{
    width: 1200px;
}
.search .search_l{
    padding: 15px 0 15px 0;
    float: left;
}
.search .search_r{
    padding: 15px 0 15px 0;
    width: 600px;
    float: right;
    position: relative;
}
.search .search_r .search_bg{
    background: #fff;
    cursor: pointer;
}
.menu{
    border-bottom:1px solid #e7e7e7;
    width: 100%; 
}
/* .menu .container{
    background-color: #0871c0;
} */
.menu-header{
    width: 1200px;
    background-color: #0871c0;
}
.menu-header ul{
    padding:0;
    margin: 0;
}
.menu-header ul li{
    display: inline-block;
}
.menu-header ul li a.active{
    background-color: #0f5489;
}
.menu-header ul li a{
    color: #fff;
    font-size: 1em;
    margin-right: 2px;
    display: block;
    padding: 5px 20px;
}
.menu-header ul li a:hover{
    background-color: #0f5489;
}
/*nav*/
.t_nav{
    height: 34px;
    font-size: 12px;
}
.t_nav ul{
    margin-bottom: 0;
}
.t_nav ul li {
    float: left;
    margin-right: 5px;
    line-height: 34px;
    height: 34px;
}
.t_nav ul li a{
    color: #666;
}
.t_nav ul li a:hover{
    color:#C81623;
}
.t_nav ul li em{
    font-style: normal;
    color: #666;
}   
/*nav end*/
/*footer*/
.footer{
    width: 1200px;
    border-top:2px solid #0f5489;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer .footer_l {
    text-align: center;
    /*margin-left: 40%;*/
}
.footer .footer_l ul li{
    float: left;
    border-right: 1px solid #c4c4c4;
    padding-left: 5px;
    padding-right: 5px;

}
.footer .footer_l ul li:last-child{
    border-right: none;
}
.footer .footer_l ul li a{
    color: #999;
}
.footer .footer_l ul li a:hover{
    color: #d60000;
}
.copyright{
    text-align: center;
    color: #999;
}
.goto_top{
    position: fixed;
    right: 5%;
    bottom: 5%;
    background: url("../images/gotop.png") -1px -3px no-repeat;
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: none;
    z-index: 999;
}
.goto_top:hover{
    background-position: -1px -39px;
}
/*推荐型号*/
.recommend_model ul {
    margin-top: 5px;
}
.recommend_model ul li{
    float: left;
    margin-right:5px;
}
.recommend_model ul li a{
    padding:5px;
}
.recommend_model ul li a:hover{
    color: #e4393c;
}
.width600{
    width: 600px;
}
.width900{
    width: 900px;
}
.width300{
    width: 300px;
}
.width1200{
    width:1200px;
}
.width100{
    width:100px;
}
.width1000{
    width:1000px;
}