.all_selector{
	width: 1200px;
}
.all_selector .t_selector{
	width: 1200px;
	border-bottom: 1px solid #e7e7e7;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
}
.all_selector .t_selector:first-child{
	border-top: 1px solid #e7e7e7;
}
.all_selector .t_selector .t_selector_l{
	float: left;
	text-align: right;
	height: 50px;
	line-height: 50px;
	width: 100px;
}
.all_selector .t_selector .t_selector_more{
	position: absolute;
	z-index: 100;
	right: 15px;
	top: 10px;
	cursor: pointer;
	display: block;
}
.all_selector .t_selector .t_selector_more a{
	float: left;
	display: block;
	color: #333;
}
.all_selector .t_selector .active>a{
	color: #e4393c;
}
.all_selector .t_selector .t_selector_more .a_color{
	color: #e4393c;
}

.all_selector .t_selector .t_selector_more a:hover{
	color: #e4393c;
}
.all_selector .t_selector .t_selector_more i{
	width: 20px;
	height: 20px;
	float: left;
	font-style: normal;
	display: block;
	background: url("../images/list_icon.png") no-repeat;
	background-position: 4px 7px;
}
.all_selector .t_selector .t_selector_more .opened{
	background-position: 4px 7px;
}

.all_selector .t_selector .t_selector_more .closed{
	background-position: 4px -10px;
}
.all_selector .t_selector .t_selector_more .closeing{
	background-position: 4px -47px;
}

.all_selector .t_selector .active>i{
	background-position: 4px -47px;
}
.all_selector .t_selector_r{
	height: 50px;
	width: 1000px;
	overflow: hidden;
}
.all_selector .t_selector_r ul{
	padding-left: -15px;
}
.all_selector .t_selector_r ul li{
	float: left;
	margin-right: 3px;
	cursor: pointer;
	width: 150px;
	height: 50px;
	line-height: 50px;
}
.all_selector .t_selector_r ul li .t_selector_title
{
	display: none;
	border: 1px solid #C81623;
	width: 100%;
	height: 48px;
	text-align: center;
}
.all_selector .t_selector_r ul li .t_selector_title a{
	display: block;
}
.all_selector .t_selector_r ul li .t_selector_img
{
	height: 48px;
	width: 100%;
	overflow: hidden;
	border: 1px solid #e7e7e7;
	text-align: center;
}
.all_selector .t_selector_r ul li img
{
	max-height:50px;
	width: 100%;
	/*_width:expression(this.width > 48 ? "48px" : this.height);*/
}
.all_selector .t_selector_r .t_selector_category{
	text-align: center;
	margin-right: 10px;
	margin-top: 10px;
	height: 30px;
	line-height: 30px;

}
.all_selector .t_selector_r  .active{
	border:1px solid #C81623;
}
.all_selector .t_selector_r .t_selector_category a{
	display: block;
	width: 100%;
	height: 100%;
	padding-left:  30px;
	padding-right: 30px;
	border:1px solid #e7e7e7;
}
.all_selector .t_selector_r .t_selector_category a:hover{
	border:1px solid #C81623;
	color: #C81623;
}
/*筛选条件*/
.t_filter{
	text-align: right;
	position: relative;
	font-size: 12px;
	width: 1200px;
	height: 35px;
}
.t_filter .t_filter_l{
	height: 35px;
	line-height: 35px;
	width: 100px;
	text-align: right;
}
.t_filter .t_filter_more{
	position: absolute;
	z-index: 100;
	right: 15px;
	top: 10px;
	cursor: pointer;
	display: block;
}
.t_filter .t_filter_more a{
	float: left;
	display: block;
	color: #333;
}
.t_filter .t_filter_more .active>a{
	color: #e4393c;
}
.t_filter .t_filter_more .a_color{
	color: #e4393c;
}

.t_filter .t_filter_more a:hover{
	color: #e4393c;
}
.t_filter .t_filter_more i{
	width: 20px;
	height: 20px;
	float: left;
	font-style: normal;
	display: block;
	background: url("../images/list_icon.png") no-repeat;
	background-position: 4px 7px;
}
.t_filter .t_filter_more .opened{
	background-position: 4px 7px;
}

.t_filter .t_filter_more .closed{
	background-position: 4px -10px;
}
.t_filter .t_filter_more .closeing{
	background-position: 4px -47px;
}
/*//更多*/
.t_filter .t_filter_r{
	width: 1000px;
}
.t_filter .t_filter_r ul 
{
	padding-top: 5px;
	padding-left:15px;
	overflow: hidden;
	margin-bottom: 0;
}
.t_filter .t_filter_r ul li {
	float: left;
	margin-right:5px ;
}
.t_filter .t_filter_r ul li a{
	padding: 5px 20px;
	border:1px solid #e7e7e7;
	display: block;
	font-size: 12px;
}
.t_filter .t_filter_r ul li a:hover{
	border:1px solid #C81623;
	color: #C81623;
}
.t_filter .t_filter_r ul li .active{
	border:1px solid #C81623;
	color: #C81623;
}
/*商品列表*/
.t_tab{
    height: 40px;
    border-bottom: 2px solid #0f5489;
    padding: 0;
    margin-top: 20px;
    width: 1200px;

}

.t_tab .t_tab_l{
    background: #0f5489;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-weight: 700;
    float: left;
    padding: 0 15px ;
    font-size: 1.5em;
}
.t_tab .t_tab_l em{
    font-weight: 400px;
    font-size: 14px;
    font-style: normal;
}
/*商品开始*/
.t_list{
	width: 1200px;
}
.t_list .t_list_li{
	border-bottom:1px solid #e7e7e7; 
	vertical-align: middle;
	margin-top: 10px;
	padding-bottom: 10px;
	width: 1200px;
	min-height: 300px;
}
.t_list .t_list_l{
	width: 300px;
	float: left;
}
.t_list .t_list_l .t_list_img{
	height: 300px;
	width: 300px;
	display: table-cell;
	vertical-align:middle;
	text-align: center;
}
.t_list .t_list_l .t_list_img img{
	max-height:299px;
	width:expression(this.height > 299 ? true: 299);
}
.t_list .t_list_c{
	width: 615px;
	float: left;
	padding-left: 15px;
}
.t_list .t_list_c .t_list_title{
	padding: 5px 0;
	margin-top: 5px;
}
.t_list .t_list_c .t_list_title a{
	font-size: 2em;
}
.t_list .t_list_c .t_list_title a:hover{
	color: #e4393c;
}
.t_list .t_list_r{
	width: 285px;
	float: left;
}
.t_list .t_list_r .t_list_price{
	font-size: 1.5em;
	color: #f00;
	margin-left: 80%;
}
.t_list .t_list_c .t_list_spec{
	margin-top: 5px;
}
.t_list .t_list_c .t_list_spec ul{
	height: 160px;
	overflow: hidden;

}
.t_list .t_list_c .t_list_spec ul li{
	float: left;
	line-height: 26px;
	width: 300px;
	height: 26px;
}
.t_list .t_list_c .t_list_spec ul li span{
	color: #999;
	margin-right: 3px;
}